:root {
    --rowNum: 16;
    --colNum: 16;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#buttonsContainer {
    width: 100vw;
    display:flex;
    justify-content: center;
}

#resetButton {
    width: 5vw;
    height: 2.5vh;
    margin: 3.5vh;
}

#newSizeButton {
    width: 5vw;
    height: 2.5vh;
    margin-top: 3.5vh;
    margin-bottom: 3.5vh;
}

#gridContainer {
    height: 80vh;
    width: 80vh;
    border: 1px solid black;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(var(--colNum), auto);
    grid-template-rows: repeat(var(--rowNum), auto);    
}